*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    font-size: 18px;
    position: relative;
    top: 0; left: 0;
    width:100%;
    height: 100%;
    
}
.design{
    position: absolute;
    top: 0; left: 0;
    width:100%;
    opacity: 0.5;
    display: none;
}

.root{
    position: relative;
    top: 0; left: 0;
    width:100%;
}

.Nav{
    position: relative;
    padding: 3.5rem 11.5vw 0rem 12vw;
    display: flex;
    flex-direction: row;
    .Nav_list{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: center;
        margin-top: -.5rem;
        .list_p{
            font-size: .8rem;
            margin-left: 2.75rem;
            letter-spacing: .1rem;
            color:hsl(229, 8%, 60%);
        }
        .list_b{
            width:7rem;
            border: 0;
            outline:0;
            text-decoration: 0;
            background-color: hsl(0, 94%, 66%);
            color:white;
            border:1px solid red;
            border-radius:.3rem;
            font-size: .9rem;
            margin-left: 3rem;
            height:2.5rem;
        }
    }
    .Nav_humb{
        display: none;
    }
}

@media only screen and (max-width: 1350px){
    .Nav{
        padding: 3.5rem 5vw 0rem 5vw;
    }
}
@media only screen and (max-width: 850px){
    .Nav{
        .logo{
            position: relative;
            z-index: 2;
            img{
                width:16rem;
            }
        }
        .Nav_list{
            opacity: 0;
            position: fixed;
            padding: 8rem 0 0 0;
            top:-50rem; left: 0;
            width:100%;
            height: 120vh;
            flex-direction: column;
            align-items: center;
            background-color: hsla(229, 31%, 21%, 0.904);
            .list_p{
                font-size: 1.6rem;
                margin-left: 0rem;
                width:calc(100% - 24vw);
                padding: 1.8rem 0;
                text-align: center;
                border-top:1px solid hsla(229, 8%, 60%, 0.452);
                color:white;
            }
            .list_p:nth-child(3){
                border-bottom:1px solid hsla(229, 8%, 60%, 0.452);
            }
            .list_b{
                margin-top: 1.8rem;
                width: 0; height: 0;
                margin-left: 0;
                padding: 2rem 10rem;
                display: flex;
                font-size: 1.6rem;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: 2px solid white;
            }
        }
        .Nav_humb{
            position: relative;
            z-index: 2;
            display: block;
            margin-left: auto;
            margin-top: .5rem;
            img{
                width:2rem;
            }
        }
    }
}
@media only screen and (max-width: 550px){
    .Nav{
        .logo{
            position: relative;
            z-index: 2;
            img{
                width:14rem;
            }
        }
        .Nav_list{
            .list_p{
                font-size: 1.3rem;
                width:calc(100% - 10vw);
                padding: 1.3rem 0;
            }
            .list_b{
                opacity: 0;
                width: calc(100% - 10vw);
                padding: 2rem 0rem;
                font-size: 1.3rem;
            }
        }
        .Nav_humb{
            margin-top:.42rem;
            img{
                width:1.8rem;
            }
        }
    }
}
@media only screen and (max-width: 350px){
    .Nav{
        padding: 2rem 5vw 0rem 5vw;
        .logo{
            img{
                width:7rem;
            }
        }
        .Nav_list{
            padding-top: 5rem;
            .list_p{
                font-size: 1rem;
                padding: .8rem 0;
            }
            .list_b{
                padding: 1.2rem 0rem;
                font-size: 1rem;
            }
        }
        .Nav_humb{
            margin-top:.1rem;
            img{
                width:1rem;
            }
        }
    }
}

.Header{
    position: relative; top: 0; left: 0;
    width:100%;
    margin-top: 6.5rem;
    padding:0 11.5vw 0 11.5vw;
    display: flex;
    flex-direction: row;
    height:35rem;
    
    .Header_welcome{
        width:30rem;
        position: relative; margin-top: 5rem;

        h1{
            font-size: 3.075rem;
            line-height: 3.1rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
            color:hsl(229, 31%, 21%);
        }
        p{
            color :hsl(229, 8%, 60%);
            line-height: 1.8rem;
        }
        .welcome_b{
            margin-top: 2rem;
            button{
                padding:.9rem 1.35rem;
                border-radius: .25rem;
                border: 0;
                word-spacing: 2px;
                font-weight: 700;
                text-decoration: 0;
                background-color: transparent;
                font-size: .9rem;
                outline: 0;
                color:white;
                background-color: hsl(231, 69%, 60%);
            }
            .b_firefox{
                margin-left: 1rem;
                color: hsl(229, 31%, 21%);
                background-color: rgb(247, 247, 247);
            }
        }
    }
    img{
        position: absolute;right: 4vw;
        z-index: -1;
    }
    .Header_bg{
        position: absolute; right: 0; bottom: 4.5rem;
        width:36vw;
        border-radius:9in 0 0 9in;
        height:22.1rem;
        z-index: -2;
        background-color: hsl(231, 69%, 60%);
    }
}

@media only screen and (max-width: 1350px){
    .Header{
        padding:0 5vw 0 5vw;
        img{
            right:0vw;
        }
    }
}
@media only screen and (max-width: 1200px){
    .Header{
        margin-top: 5rem;
        overflow-x: hidden;
        .Header_welcome{
            width:30rem;
            position: relative; margin-top: 5rem;
    
            h1{
                font-size: 3.075rem;
                line-height: 3.1rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 1.8rem;
            }
            .welcome_b{
                margin-top: 2rem;
                button{
                    padding:.9rem 1.35rem;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: absolute;right: -15vw;
            z-index: -1;
        }
        .Header_bg{
            position: absolute; right: 0; bottom: 4rem;
            width:46vw;
            border-radius:9in 0 0 9in;
            height:22.1rem;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 1050px){
    .Header{
        margin-top: 5rem;
        overflow-x: hidden;
        .Header_welcome{
            width:30rem;
            position: relative; margin-top: 5rem;
    
            h1{
                font-size: 3.075rem;
                line-height: 3.1rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 1.8rem;
            }
            .welcome_b{
                margin-top: 2rem;
                button{
                    padding:.9rem 1.35rem;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: absolute;right: -25vw;
            z-index: -1;
        }
        .Header_bg{
            position: absolute; right: 0; bottom: 3rem;
            width:46vw;
            border-radius:9in 0 0 9in;
            height:20rem;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 950px){
    .Header{
        z-index: -1;
        border:1px solid red;
        height:auto;
        margin-top: 3rem;
        overflow-x: visible;
        align-items: center;
        flex-direction: column-reverse;
        .Header_welcome{
            width:40rem;
            position: relative; margin-top: 7rem;
            margin-bottom: 5rem;
            border:1px solid red;
            h1{
                font-size: 3.5rem;
                line-height: 3.5rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
                text-align: center;
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 2rem;
                font-size: 1.2rem;
                text-align: center;
            }
            .welcome_b{
                margin-top: 2rem;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 100%;
                button{
                    padding:.9rem 1.35rem;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: relative;right: 0vw;
            z-index: -1;
            width: 45rem;
        }
        .Header_bg{
            position: absolute; right: 0; top: 8rem;
            width:70vw;
            border-radius:9in 0 0 9in;
            height:25rem;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 720px){
    .Header{
        z-index: -1;
        border:1px solid red;
        height:auto;
        margin-top: 3rem;
        overflow-x: visible;
        align-items: center;
        flex-direction: column-reverse;
        .Header_welcome{
            width:100%;
            position: relative; margin-top: 7rem;
            margin-bottom: 5rem;
            border:1px solid red;
            h1{
                font-size: 3.5rem;
                line-height: 3.5rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
                text-align: center;
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 2rem;
                font-size: 1.2rem;
                text-align: center;
            }
            .welcome_b{
                margin-top: 2rem;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 100%;
                button{
                    padding:.9rem 1.35rem;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: relative;right: 0vw;
            z-index: -1;
            width: 100vw;
        }
        .Header_bg{
            position: absolute; right: 0; top: 8rem;
            width:75vw;
            border-radius:9in 0 0 9in;
            height:55vw;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 590px){
    .Header{
        z-index: -1;
        border:1px solid red;
        height:auto;
        margin-top: 3rem;
        overflow-x: visible;
        align-items: center;
        flex-direction: column-reverse;
        .Header_welcome{
            width:100%;
            position: relative; margin-top: 7rem;
            margin-bottom: 5rem;
            border:1px solid red;
            h1{
                font-size: 9.2vw;
                line-height: 11vw;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
                text-align: center;
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 6vw;
                font-size: 4.3vw;
                text-align: center;
            }
            .welcome_b{
                margin-top: 2rem;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 100%;
                button{
                    padding:1rem 1.5rem;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: relative;right: 0vw;
            z-index: -1;
            width: 100vw;
        }
        .Header_bg{
            position: absolute; right: 0; top: 8rem;
            width:75vw;
            border-radius:9in 0 0 9in;
            height:55vw;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 450px){
    .Header{
        z-index: -1;
        border:1px solid red;
        height:auto;
        margin-top: 3rem;
        overflow-x: visible;
        align-items: center;
        flex-direction: column-reverse;
        .Header_welcome{
            width:100%;
            position: relative; margin-top: 4rem;
            margin-bottom: 5rem;
            border:1px solid red;
            h1{
                font-size: 9.2vw;
                line-height: 11vw;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color:hsl(229, 31%, 21%);
                text-align: center;
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 6vw;
                font-size: 4.3vw;
                text-align: center;
            }
            .welcome_b{
                margin-top: 2rem;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 100%;
                button{
                    padding:1rem 0;
                    width:40vw;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: .9rem;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-left: 1rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: relative;right: 0vw;
            z-index: -1;
            width: 100vw;
        }
        .Header_bg{
            position: absolute; right: 0; top: 5rem;
            width:75vw;
            border-radius:9in 0 0 9in;
            height:55vw;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}
@media only screen and (max-width: 350px){
    .Header{
        z-index: -1;
        border:1px solid red;
        height:auto;
        margin-top: 3rem;
        overflow-x: visible;
        align-items: center;
        flex-direction: column-reverse;
        .Header_welcome{
            width:100%;
            position: relative; margin-top: 5vw;
            margin-bottom: 5rem;
            border:1px solid red;
            h1{
                font-size: 9.2vw;
                line-height: 11vw;
                font-weight: 700;
                margin-bottom: 4vw;
                color:hsl(229, 31%, 21%);
                text-align: center;
            }
            p{
                color :hsl(229, 8%, 60%);
                line-height: 6vw;
                font-size: 4.3vw;
                text-align: center;
            }
            .welcome_b{
                margin-top: 5vw;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: 100%;
                button{
                    padding:1rem 0;
                    width:55vw;
                    border-radius: .25rem;
                    border: 0;
                    word-spacing: 2px;
                    font-weight: 700;
                    text-decoration: 0;
                    background-color: transparent;
                    font-size: 4vw;
                    outline: 0;
                    color:white;
                    background-color: hsl(231, 69%, 60%);
                }
                .b_firefox{
                    margin-top: 6vw;
                    margin-left: 0rem;
                    color: hsl(229, 31%, 21%);
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        img{
            position: relative;right: 0vw;
            z-index: -1;
            width: 100vw;
        }
        .Header_bg{
            position: absolute; right: 0; top: 4rem;
            width:75vw;
            border-radius:9in 0 0 9in;
            height:50vw;
            z-index: -2;
            background-color: hsl(231, 69%, 60%);
        }
    }
}