* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  font-size: 18px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .8;
  display: none;
}

.root {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.Nav {
  position: relative;
  padding: 3.5rem 11.5vw 0rem 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Nav .Nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -.5rem;
}

.Nav .Nav_list .list_p {
  font-size: .8rem;
  margin-left: 2.75rem;
  letter-spacing: .1rem;
  color: #9194a1;
}

.Nav .Nav_list .list_b {
  width: 7rem;
  border: 0;
  outline: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  background-color: #fa5757;
  color: white;
  border: 1px solid red;
  border-radius: .3rem;
  font-size: .9rem;
  margin-left: 3rem;
  height: 2.5rem;
}

.Nav .Nav_humb {
  display: none;
}

@media only screen and (max-width: 1350px) {
  .Nav {
    padding: 3.5rem 5vw 0rem 5vw;
  }
}

@media only screen and (max-width: 850px) {
  .Nav .logo {
    position: relative;
    z-index: 2;
  }
  .Nav .logo img {
    width: 16rem;
  }
  .Nav .Nav_list {
    opacity: 0;
    position: fixed;
    padding: 8rem 0 0 0;
    top: -50rem;
    left: 0;
    width: 100%;
    height: 120vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(37, 43, 70, 0.904);
  }
  .Nav .Nav_list .list_p {
    font-size: 1.6rem;
    margin-left: 0rem;
    width: calc(100% - 24vw);
    padding: 1.8rem 0;
    text-align: center;
    border-top: 1px solid rgba(145, 148, 161, 0.452);
    color: white;
  }
  .Nav .Nav_list .list_p:nth-child(3) {
    border-bottom: 1px solid rgba(145, 148, 161, 0.452);
  }
  .Nav .Nav_list .list_b {
    margin-top: 1.8rem;
    width: 0;
    height: 0;
    margin-left: 0;
    padding: 2rem 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: 2px solid white;
  }
  .Nav .Nav_humb {
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-top: .5rem;
  }
  .Nav .Nav_humb img {
    width: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .Nav .logo img {
    width: 14rem;
  }
  .Nav .Nav_list .list_p {
    font-size: 1.3rem;
    padding: 1.3rem 0;
  }
  .Nav .Nav_list .list_b {
    opacity: 0;
    width: calc(100% - 10vw);
    padding: 2rem 0rem;
    font-size: 1.3rem;
  }
  .Nav .Nav_humb {
    margin-top: .42rem;
  }
  .Nav .Nav_humb img {
    width: 1.8rem;
  }
}

@media only screen and (max-width: 350px) {
  .Nav {
    padding: 2rem 5vw 0rem 5vw;
  }
  .Nav .logo img {
    width: 7rem;
  }
  .Nav .Nav_list {
    padding-top: 5rem;
  }
  .Nav .Nav_list .list_p {
    font-size: 1rem;
    padding: .8rem 0;
  }
  .Nav .Nav_list .list_b {
    padding: 1.2rem 0rem;
    font-size: 1rem;
  }
  .Nav .Nav_humb {
    margin-top: .1rem;
  }
  .Nav .Nav_humb img {
    width: 1rem;
  }
}

.Header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 6.5rem;
  padding: 0 11.5vw 0 11.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 35rem;
}

.Header .Header_welcome {
  width: 30rem;
  position: relative;
  margin-top: 5rem;
}

.Header .Header_welcome h1 {
  font-size: 3.075rem;
  line-height: 3.1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #252b46;
}

.Header .Header_welcome p {
  color: #9194a1;
  line-height: 1.8rem;
}

.Header .Header_welcome .welcome_b {
  margin-top: 2rem;
}

.Header .Header_welcome .welcome_b button {
  padding: .9rem 1.35rem;
  border-radius: .25rem;
  border: 0;
  word-spacing: 2px;
  font-weight: 700;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  background-color: transparent;
  font-size: .9rem;
  outline: 0;
  color: white;
  background-color: #5368df;
}

.Header .Header_welcome .welcome_b .b_firefox {
  margin-left: 1rem;
  color: #252b46;
  background-color: #f7f7f7;
}

.Header img {
  position: absolute;
  right: 4vw;
  z-index: -1;
}

.Header .Header_bg {
  position: absolute;
  right: 0;
  bottom: 4.5rem;
  width: 36vw;
  border-radius: 9in 0 0 9in;
  height: 22.1rem;
  z-index: -2;
  background-color: #5368df;
}

@media only screen and (max-width: 1350px) {
  .Header {
    padding: 0 5vw 0 5vw;
  }
  .Header img {
    right: 0vw;
  }
}

@media only screen and (max-width: 1200px) {
  .Header {
    margin-top: 5rem;
    overflow-x: hidden;
  }
  .Header img {
    right: -15vw;
  }
  .Header .Header_bg {
    bottom: 4rem;
    width: 46vw;
  }
}

@media only screen and (max-width: 1050px) {
  .Header img {
    right: -25vw;
  }
  .Header .Header_bg {
    bottom: 3rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 950px) {
  .Header {
    z-index: -1;
    height: auto;
    margin-top: 3rem;
    overflow-x: visible;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .Header .Header_welcome {
    width: 40rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .Header .Header_welcome h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .Header .Header_welcome p {
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .Header .Header_welcome .welcome_b {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .Header img {
    position: relative;
    right: 0vw;
    width: 45rem;
  }
  .Header .Header_bg {
    top: 8rem;
    width: 70vw;
    height: 25rem;
  }
}

@media only screen and (max-width: 720px) {
  .Header .Header_welcome {
    width: 100%;
  }
  .Header .Header_welcome .welcome_b {
    margin-top: 2rem;
    width: 100%;
  }
  .Header img {
    width: 100vw;
  }
  .Header .Header_bg {
    width: 75vw;
    height: 55vw;
  }
}

@media only screen and (max-width: 590px) {
  .Header .Header_welcome h1 {
    font-size: 9.2vw;
    line-height: 11vw;
  }
  .Header .Header_welcome p {
    line-height: 6vw;
    font-size: 4.3vw;
  }
  .Header .Header_welcome .welcome_b button {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .Header .Header_welcome {
    margin-top: 4rem;
  }
  .Header .Header_welcome .welcome_b button {
    padding: 1rem 0;
    width: 40vw;
  }
  .Header .Header_bg {
    top: 5rem;
  }
}

@media only screen and (max-width: 350px) {
  .Header .Header_welcome {
    margin-top: 15vw;
  }
  .Header .Header_welcome h1 {
    margin-bottom: 4vw;
  }
  .Header .Header_welcome .welcome_b {
    margin-top: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Header .Header_welcome .welcome_b button {
    width: 55vw;
    font-size: 4vw;
  }
  .Header .Header_welcome .welcome_b .b_firefox {
    margin-top: 6vw;
    margin-left: 0rem;
  }
  .Header .Header_bg {
    top: 30vw;
    height: 50vw;
  }
}

.Features {
  position: relative;
  margin-top: 1.2rem;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Features .Features_header {
  width: 34rem;
}

.Features .Features_header h1 {
  font-size: 2.2rem;
  color: #252b46;
}

.Features .Features_header p {
  line-height: 1.8rem;
  color: #9194a1;
  margin-top: 1.5rem;
}

.Features .Features_menu {
  position: relative;
  margin-top: 3.9rem;
  width: 46rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4.5rem;
  border-bottom: 1px solid #9194a1;
  z-index: 2;
}

.Features .Features_menu .menu_item {
  width: 33.3%;
}

.Features .Features_menu .menu_item p {
  padding: .5rem  0 .6rem 0;
  font-size: 1.1rem;
  color: #252b46;
}

.Features .Features_menu .menu_scroll {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 33.3%;
  height: 5px;
  border-radius: 100px;
  background-color: #fa5757;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.Features .Features_menu_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10rem;
}

.Features .Features_menu_item .Item_img {
  position: relative;
  left: 11.5vw;
}

.Features .Features_menu_item .Item_bg {
  position: absolute;
  left: 0;
  top: 5.2rem;
  width: 44.5vw;
  border-radius: 0 9in 9in 0;
  height: 22rem;
  background-color: #5368df;
  z-index: -1;
}

.Features .Features_menu_item .Item_info {
  margin-top: 4rem;
  position: absolute;
  right: 11.5vw;
  width: 28rem;
  text-align: left;
}

.Features .Features_menu_item .Item_info h1 {
  font-size: 2.1rem;
  margin-bottom: 1.4rem;
  color: #252b46;
}

.Features .Features_menu_item .Item_info p {
  line-height: 1.8rem;
  color: #9194a1;
  margin-bottom: 2rem;
}

.Features .Features_menu_item .Item_info button {
  width: 7.5rem;
  height: 3rem;
  outline: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  border-radius: .5rem;
  border: 0;
  background: #5368df;
  color: white;
}

@media only screen and (max-width: 1350px) {
  .Features .Features_menu_item .Item_img {
    left: 5vw;
  }
  .Features .Features_menu_item .Item_bg {
    width: 40vw;
  }
  .Features .Features_menu_item .Item_info {
    right: 5vw;
  }
}

@media only screen and (max-width: 1120px) {
  .Features .Features_menu_item .Item_img {
    left: -5vw;
  }
  .Features .Features_menu_item .Item_bg {
    width: 35vw;
  }
  .Features .Features_menu_item .Item_info {
    right: 5vw;
  }
}

@media only screen and (max-width: 1000px) {
  .Features .Features_header h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .Features .Features_header p {
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .Features .Features_menu .menu_item {
    width: 33.3%;
  }
  .Features .Features_menu .menu_item p {
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .Features .Features_menu_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .Features .Features_menu_item .Item_img {
    position: relative;
    left: 0vw;
    width: 70vw;
  }
  .Features .Features_menu_item .Item_bg {
    top: 15vw;
    width: 75vw;
  }
  .Features .Features_menu_item .Item_info {
    margin-top: 10rem;
    position: relative;
    right: 0vw;
    width: 40rem;
    text-align: center;
  }
  .Features .Features_menu_item .Item_info h1 {
    font-size: 3.5rem;
  }
  .Features .Features_menu_item .Item_info p {
    font-size: 1.2rem;
  }
  .Features .Features_menu_item .Item_info button {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 800px) {
  .Features .Features_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0;
    z-index: 2;
  }
  .Features .Features_menu .menu_item {
    width: 60%;
    border-bottom: 1px solid #9194a1;
  }
  .Features .Features_menu .menu_scroll {
    position: absolute;
    left: 30%;
    bottom: 8.4rem;
    width: 40%;
    height: 5px;
    border-radius: 100px;
    background-color: #fa5757;
    z-index: 2;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

@media only screen and (max-width: 700px) {
  .Features .Features_header {
    width: 100%;
    padding: 0 5vw;
  }
  .Features .Features_header h1 {
    font-size: 9.2vw;
    line-height: 11vw;
  }
  .Features .Features_header p {
    line-height: 6vw;
    font-size: 4.3vw;
  }
  .Features .Features_menu {
    margin-top: 3.5rem;
    width: 100%;
  }
  .Features .Features_menu .menu_item {
    width: 80%;
  }
  .Features .Features_menu .menu_item p {
    font-size: 1.4rem;
  }
  .Features .Features_menu_item .Item_img {
    width: 90vw;
  }
  .Features .Features_menu_item .Item_bg {
    top: 18vw;
    height: 55vw;
  }
  .Features .Features_menu_item .Item_info {
    margin-top: 25vw;
    width: 100%;
    padding: 0 5vw;
  }
  .Features .Features_menu_item .Item_info h1 {
    font-size: 8.5vw;
    line-height: 11vw;
  }
  .Features .Features_menu_item .Item_info p {
    line-height: 6vw;
    font-size: 4vw;
  }
  .Features .Features_menu_item .Item_info button {
    width: 12rem;
  }
}

@media only screen and (max-width: 450px) {
  .Features .Features_header h1 {
    font-size: 9.7vw;
    line-height: 11vw;
  }
  .Features .Features_menu_item .Item_bg {
    height: 60vw;
  }
  .Features .Features_menu_item .Item_info {
    margin-top: 22vw;
  }
  .Features .Features_menu_item .Item_info h1 {
    font-size: 8.7vw;
    line-height: 11vw;
  }
  .Features .Features_menu_item .Item_info p {
    line-height: 6vw;
    font-size: 4.3vw;
  }
  .Features .Features_menu_item .Item_info button {
    width: 35vw;
    height: 12vw;
    font-size: 4.3vw;
  }
}

.Download {
  margin-top: 5.2rem;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 5rem;
}

.Download h1 {
  font-size: 2.1rem;
  color: #252b46;
}

.Download p {
  margin-top: 1.5rem;
  line-height: 1.8rem;
  font-size: 1.15rem;
  color: #9194a1;
  width: 35rem;
}

.Download .Download_s {
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.Download .Download_s .s_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
  width: 17.5rem;
  margin: 0 1rem;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px -15px #9194a1;
          box-shadow: 0 5px 30px -15px #9194a1;
  border-radius: .5rem;
}

.Download .Download_s .s_item:nth-child(2) {
  margin-top: 4.2rem;
}

.Download .Download_s .s_item:nth-child(3) {
  margin-top: 8.7rem;
}

.Download .Download_s .s_item .item_logo {
  margin: 1.5rem;
}

.Download .Download_s .s_item h1 {
  margin-top: .5rem;
  font-size: 1.4rem;
  color: #252b46;
}

.Download .Download_s .s_item p {
  margin-top: .2rem;
  font-size: 1rem;
  color: #9194a1;
}

.Download .Download_s .s_item .item_dot {
  width: 170%;
  margin-top: 2rem;
}

.Download .Download_s .s_item button {
  margin-top: 1.5rem;
  width: 90%;
  height: 3rem;
  outline: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  border: 0;
  color: white;
  background-color: #5368df;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
  .Download .Download_s {
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Download .Download_s .s_item {
    width: 22rem;
  }
  .Download .Download_s .s_item:nth-child(2) {
    margin-top: 3rem;
  }
  .Download .Download_s .s_item:nth-child(3) {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .Download h1 {
    font-size: 8.2vw;
    line-height: 11vw;
  }
  .Download p {
    line-height: 6vw;
    font-size: 4vw;
    width: 90%;
  }
  .Download .Download_s .s_item {
    width: 22rem;
  }
  .Download .Download_s .s_item h1 {
    font-size: 6vw;
    line-height: 11vw;
  }
  .Download .Download_s .s_item p {
    line-height: 6vw;
    font-size: 3.2vw;
    width: 100%;
  }
  .Download .Download_s .s_item button {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 450px) {
  .Download {
    margin-top: 5vw;
  }
  .Download .Download_s .s_item {
    width: 80vw;
  }
}

.Frequently {
  margin-top: 10rem;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.Frequently h1 {
  font-size: 2.1rem;
  color: #252b46;
}

.Frequently p {
  margin-top: 1.5rem;
  line-height: 1.8rem;
  font-size: 1.15rem;
  color: #9194a1;
  width: 35rem;
}

.Frequently .Frequently_list {
  margin-top: 3.4rem;
  width: 35rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Frequently .Frequently_list .Frequently_item details {
  width: 100%;
  border-bottom: 1px solid #9194a1;
}

.Frequently .Frequently_list .Frequently_item details summary {
  position: relative;
  width: 35rem;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 1.4rem 2rem 1.4rem .5rem;
}

.Frequently .Frequently_list .Frequently_item details summary::after {
  content: '';
  position: absolute;
  right: 1.8rem;
  width: 1.6rem;
  height: .9rem;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem .9rem;
}

.Frequently .Frequently_list .Frequently_item details p {
  margin-top: 1rem;
  margin-left: .7rem;
  margin-bottom: 2rem;
  line-height: 2.2rem;
  font-size: 1rem;
  color: #9194a1;
  width: 100%;
}

.Frequently .Frequently_list .Frequently_item details summary::-webkit-details-marker {
  display: none;
}

.Frequently .Frequently_list .Frequently_item:nth-child(1) details {
  border-top: 1px solid #9194a1;
}

.Frequently button {
  margin-top: 3rem;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  outline: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  border: 0;
  color: white;
  background-color: #5368df;
  border-radius: .5rem;
}

@media only screen and (max-width: 750px) {
  .Frequently {
    width: 100%;
  }
  .Frequently h1 {
    font-size: 5vw;
    color: #252b46;
  }
  .Frequently p {
    line-height: 6vw;
    font-size: 3.5vw;
    width: 80%;
  }
  .Frequently .Frequently_list {
    width: 80%;
  }
  .Frequently .Frequently_list .Frequently_item details {
    width: 100%;
  }
  .Frequently .Frequently_list .Frequently_item details summary {
    width: 80vw;
    font-size: 3.5vw;
  }
  .Frequently .Frequently_list .Frequently_item details summary::after {
    right: 1vw;
    width: 4vw;
    height: 2vw;
    background-size: 5vw 3vw;
  }
  .Frequently .Frequently_list .Frequently_item details p {
    line-height: 6vw;
    font-size: 3vw;
    width: 90%;
  }
  .Frequently button {
    width: 25vw;
    height: 8vw;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 500px) {
  .Frequently {
    width: 100%;
  }
  .Frequently h1 {
    font-size: 10vw;
    color: #252b46;
  }
  .Frequently p {
    line-height: 6vw;
    font-size: 4vw;
    width: 90%;
  }
  .Frequently .Frequently_list {
    width: 90%;
  }
  .Frequently .Frequently_list .Frequently_item details {
    width: 100%;
  }
  .Frequently .Frequently_list .Frequently_item details summary {
    width: 90vw;
    font-size: 4.5vw;
  }
  .Frequently .Frequently_list .Frequently_item details summary::after {
    right: 1vw;
    width: 5vw;
    height: 3vw;
    background-size: 5vw 3vw;
  }
  .Frequently .Frequently_list .Frequently_item details p {
    line-height: 6vw;
    font-size: 4vw;
    width: 90%;
  }
  .Frequently button {
    width: 35vw;
    height: 13vw;
    font-size: 4vw;
  }
}

.Stay {
  margin-top: 9.5rem;
  padding: 4rem 0 5.5rem 0;
  width: 100%;
  color: white;
  background-color: #5368df;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Stay p {
  font-size: 1rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}

.Stay h1 {
  font-size: 2.1rem;
  width: 30rem;
}

.Stay .Stay_form {
  margin-top: 2.5rem;
}

.Stay .Stay_form input {
  margin-right: .5rem;
  width: 19rem;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 0 1rem;
  height: 3rem;
  border-radius: .5rem;
}

.Stay .Stay_form input::-webkit-input-placeholder {
  color: #9194a1;
}

.Stay .Stay_form input:-ms-input-placeholder {
  color: #9194a1;
}

.Stay .Stay_form input::-ms-input-placeholder {
  color: #9194a1;
}

.Stay .Stay_form input::placeholder {
  color: #9194a1;
}

.Stay .Stay_form button {
  width: 8rem;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 0 1rem;
  height: 3rem;
  background-color: #fa5757;
  color: white;
  border-radius: .5rem;
}

@media only screen and (max-width: 500px) {
  .Stay {
    margin-top: 15vw;
    padding: 10vw 0;
  }
  .Stay p {
    margin-bottom: 5vw;
    font-size: 4vw;
  }
  .Stay h1 {
    width: 90vw;
    font-size: 6vw;
  }
  .Stay .Stay_form {
    margin-top: 5vw;
  }
  .Stay .Stay_form input {
    margin-right: 2vw;
    width: 60vw;
    padding: 0 2.5vw;
  }
  .Stay .Stay_form button {
    width: 28vw;
    padding: 0 2vw;
    font-size: 3.5vw;
  }
}

.Footer {
  width: 100%;
  background-color: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 11.25vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 4.9rem;
}

.Footer .Footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 4.5vw;
}

.Footer .Footer_list p {
  font-size: .95rem;
  color: white;
  padding-right: 3rem;
}

.Footer .Footer_media {
  position: absolute;
  right: 11.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 5.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Footer .Footer_media .media_fb {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./images/icon-facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Footer .Footer_media .media_tw {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./images/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (max-width: 1350px) {
  .Footer {
    padding: 0 5vw;
  }
  .Footer .Footer_media {
    right: 5vw;
  }
}

@media only screen and (max-width: 700px) {
  .Footer {
    padding: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
  .Footer img {
    margin-bottom: 2rem;
    width: 35vw;
  }
  .Footer .Footer_list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0vw;
    margin-bottom: 2rem;
  }
  .Footer .Footer_list p {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  .Footer .Footer_media {
    position: relative;
    right: 0;
    width: 6rem;
  }
  .Footer .Footer_media .media_fb {
    width: 2rem;
    height: 2rem;
  }
  .Footer .Footer_media .media_tw {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .Footer img {
    width: 45vw;
  }
  .Footer .Footer_media .media_fb, .Footer .Footer_media .media_tw {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media only screen and (max-width: 450px) {
  .Footer img {
    margin-bottom: 4vw;
    width: 55vw;
  }
  .Footer .Footer_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4vw;
  }
  .Footer .Footer_list p {
    font-size: 4.3vw;
    padding: 1rem 0rem;
  }
  .Footer .Footer_media .media_fb, .Footer .Footer_media .media_tw {
    width: 8vw;
    height: 8vw;
  }
}

@media only screen and (max-width: 320px) {
  .Footer img {
    width: 60vw;
  }
  .Footer .Footer_list p {
    font-size: 5vw;
  }
  .Footer .Footer_media .media_fb, .Footer .Footer_media .media_tw {
    width: 8.5vw;
    height: 8.5vw;
  }
}
/*# sourceMappingURL=style.css.map */